@using ProgrammersBlog.Shared.Entities.Concrete
@{
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
    ViewBag.Title = "Sunucu Hatası (500)";
    MvcErrorModel mvcErrorModel = ViewData["MvcErrorModel"] as MvcErrorModel;
}
<div class="col-lg-12">
    <div class="text-center mt-4">
        <h1 class="display-1">500</h1>
        <p class="lead">@mvcErrorModel.Message</p>
        @if (mvcErrorModel.Detail != null)
        {
            <p class="lead">@mvcErrorModel.Detail</p>
        }
        @if (mvcErrorModel.IsArea)
        {
            <a class="text-warning" href="/Admin/Home/Index/">
                <i class="fas fa-arrow-left mr-1"></i>
                Anasayfa'ya dönmek için tıklayınız.
            </a>
        }
        else
        {
            <a class="text-warning" asp-controller="Home" asp-action="Index">
                <i class="fas fa-arrow-left mr-1"></i>
                Anasayfa'ya dönmek için tıklayınız.
            </a>
        }

    </div>
</div>