@model ArticleUpdateViewModel
@{
    ViewData["Title"] = "Makale Düzenle";
}

<ol class="breadcrumb mb-3 mt-4">
    <li class="breadcrumb-item">
        <a href="/Admin/Home/Index" class="text-muted">Admin</a>
    </li>
    <li class="breadcrumb-item active">
        <a href="/Admin/Article/Index" class="text-dark">Makaleler</a>
    </li>
    <li class="breadcrumb-item active">
        <a asp-area="Admin" asp-controller="Article" asp-action="Update" asp-route-articleId="@Model.ArticleId" class="text-dark">Düzenle</a>
    </li>
</ol>

<form asp-action="Update" enctype="multipart/form-data" method="post">
    <input type="hidden" asp-for="ArticleId"/>
    <input type="hidden" asp-for="UserId"/>
    <div class="row mt-2">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <input type="text" id="articleTitle" class="form-control" placeholder="Makale Başlığı" asp-for="Title" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <textarea id="text-editor" asp-for="Content"></textarea>
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Temel Konfigürasyonlar
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="categoryList">Kategori</label>
                        <select id="categoryList" class="form-control" asp-for="CategoryId" asp-items="@(new SelectList(Model.Categories,"CategoryId","Name"))">
                            <option value="0">Lütfen kategori seçiniz...</option>
                        </select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="datepicker" asp-for="Date"></label>
                        <input type="text" id="datepicker" class="form-control" asp-for="Date" value="@DateTime.Now.ToShortDateString()" />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Thumbnail"></label>
                        <input type="hidden"  asp-for="Thumbnail" />
                        <img src="~/img/@Model.Thumbnail" alt="@Model.Thumbnail" class="my-image" />
                        <span asp-validation-for="Thumbnail" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="thumbnailUpload" asp-for="ThumbnailFile"></label>
                        <input type="file" id="thumbnailUpload" accept="image/*" class="form-control-file" asp-for="ThumbnailFile" />
                        <span asp-validation-for="ThumbnailFile" class="text-danger"></span>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" id="isActive" class="form-check-input" asp-for="IsActive" />
                        <label for="isActive" class="form-check-label" asp-for="IsActive">Aktif Mi?</label>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block mt-4" type="submit">Kaydet</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-2">
            <div class="card">
                <div class="card-header">
                    SEO Optimizasyonu
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="seoWriter" asp-for="SeoAuthor"></label>
                            <input type="text" id="seoWriter" class="form-control" asp-for="SeoAuthor" />
                            <span asp-validation-for="SeoAuthor" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="seoTags" asp-for="SeoTags"></label>
                            <input type="text" id="seoTags" class="form-control" asp-for="SeoTags" />
                            <span asp-validation-for="SeoTags" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="seoDescription" asp-for="SeoDescription"></label>
                            <textarea id="seoDescription" class="form-control" asp-for="SeoDescription"></textarea>
                            <span asp-validation-for="SeoDescription" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="seoDescription" asp-for="Note"></label>
                            <textarea id="seoDescription" class="form-control" asp-for="Note"></textarea>
                            <span asp-validation-for="Note" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script src="~/Trumbowyg/trumbowyg.min.js"></script>
    <script src="~/Trumbowyg/langs/tr.min.js"></script>
    <script src="~/Trumbowyg/plugins/colors/trumbowyg.colors.min.js"></script>
    <script src="~/Trumbowyg/plugins/emoji/trumbowyg.emoji.min.js"></script>
    <script src="~/Trumbowyg/plugins/fontfamily/trumbowyg.fontfamily.min.js"></script>
    <script src="~/Trumbowyg/plugins/fontsize/trumbowyg.fontsize.min.js"></script>
    <script src="~/select2/js/select2.min.js"></script>
    <script src="~/jqueryui/jquery-ui.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/articleAdd.js"></script>
}
@section Styles{
    <link href="~/Trumbowyg/ui/trumbowyg.min.css" rel="stylesheet" />
    <link href="~/Trumbowyg/plugins/colors/ui/trumbowyg.colors.min.css" rel="stylesheet" />
    <link href="~/Trumbowyg/plugins/emoji/ui/trumbowyg.emoji.min.css" rel="stylesheet" />
    <link href="~/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/select2/select2-bootstrap4-theme/dist/select2-bootstrap4.min.css" rel="stylesheet" />
    <link href="~/jqueryui/themes/hot-sneaks/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/jqueryui/themes/hot-sneaks/theme.min.css" rel="stylesheet" />

}

